.eventdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
  gap: 2px;
  padding: 6px;
}
.descdiv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin: 6px;
}
#day {
  min-width: 120px;
  padding: 4px;
  font-size: medium;
}
textarea {
  flex: 1;
  background-color: white;
  padding: 6px;
  margin: 6px;
  min-width: 300px;
}

