html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 4px;
  background-color: #188f20;
  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-size: smaller;
  min-height: 100vh;
}
.footer {
  display:flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px;
  max-width: 350px;
}
.title {
  display:flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px;
  max-width: 350px;
}
.container {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 4px;
  padding: 4px;
  max-width: 350px;
  gap: 16px;
}
.flexdiv {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  min-height: 30px;
  gap: 4px;
}
.flexrow {
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin-bottom: 8px;
}
input {
  text-align: center;
  min-width: 25px;
  max-width: 70px;
  font-size: smaller;
  min-height: 14px;
}
select {
  font-size: medium;
  padding:2px;
}
label{
  padding-right: 3px;
  vertical-align: middle;
}
#hrs {
  display:none;
}
.rates {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  font-family: sans-serif;
  gap: 8px;
  border-radius: 8px;
  padding: 5px 10px; 
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  font-family: "Arial";
  font-size: medium;
  gap: 20px;
}
#cancelbutton {
  width: 70px;
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 6px;
  padding: 6px;
}
#submitbutton, #printbutton, #clearbutton{
  width: 70px;
  background-color: blue;
  color: white;
  border-color: blue;
  border-radius: 6px;
  padding: 6px;
}
table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid black;
}
tr{
  height: 14px;
  border-collapse: collapse;
}
.printform {
  display: none;
}
#outputtable{
  background-color: lightgray;
}
#outputtable th:nth-child(1) {
  border-right: none;
}
#outputtable td:nth-child(1) {
  border-right: none;
}
#outputtable td:nth-child(2) {
  text-align: right;
  border-left: none;
}
#outputtable td:nth-child(3) {
  text-align: left;
}
#summarytable {
  break-inside: avoid;
}
#summarytable td:nth-child(1) {
  border-right:none;
}
#summarytable td:nth-child(2) {
  text-align: right;
  border-left: none;
}
#summarytable td:nth-child(3) {
  text-align: left;
}
#summarytable th:nth-child(1){
  width: 4%;
  border-right: none;
}
#summarytable th:nth-child(2){
  width: 11%;
  border-left: none;
}
#summarytable th:nth-child(3){
  width: 20%;
}
#summarytable th:nth-child(4){
  width: 18%;
}
#summarytable th:nth-child(5){
  width: 18%;
}
#summarytable th:nth-child(6){
  width: 18%;
}
#reftables {
  display: flex;
}
#ratetable, #salarytable{
  font-size: x-small;
  font-style: italic;
  color: gray;
  width: fit-content;
  margin-top: 8px;
  break-inside: avoid;
}
#meetingtable th:nth-child(1) {
  width: 5%;
}
#supervisors {
  display: none;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
ul li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.threecols {
  border-collapse: collapse;
  border: 1px solid black;
}
.threecols tr {
  max-height: 16px;
}
.threecols th:nth-child(1) {
  width: 15%;
  text-align: left;
}
.threecols th:nth-child(2) {
  text-align: left;
  width: 75%;
}
.threecols th:nth-child(3) {
  text-align: right;
  width: 10%;
}
.threecols td:nth-child(1) {
  text-align: left;
}
.threecols td:nth-child(2) {
  text-align: left;
}
.threecols td:nth-child(3) {
  text-align: right;
}
.totalrow td:nth-child(1){
  border-right: none;
}
.totalrow td:nth-child(2){
  border-left: none;
  text-align: right;
}
.totalrow td:nth-child(3){
  text-align: right;
}
.twocols {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
}
.twocols th:nth-child(1) {
  width: 15%;
}
.twocols th:nth-child(2) {
  width: 85%;
}



