html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 4px;
  background-color: #188f20;
  font-family: "Merriweather", sans-serif;
  font-weight: 500;
  font-size: medium;
  min-height: 100vh;
}
.footer {
  background-color: orange;
  display:flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px;
  max-width: 350px;
}
.title {
  display:flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px;
  max-width: 350px;
}
.container {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: yellow;
  margin: 4px;
  padding: 4px;
  max-width: 350px;
  gap: 16px;
}
.flexdiv {
  display:flex;
  flex-wrap: wrap;
  background-color: aqua;
  align-items: center;
  justify-items: center;
  min-height: 30px;
  gap: 4px;
}
.title {
  display: flex;
  align-items: center;
  padding-left: 25px;
  background-color: bisque;
}
input {
  background-color: pink;
  text-align: center;
  min-width: 25px;
  max-width: 40px;
  font-size: medium;
}
select {
  background-color: purple;
  font-size: medium;
  padding:2px;
}
legend {
  background-color: blue;
}
label{
  background-color: gray;
  vertical-align: middle;
}
#hrs {
  display:flex;
}
.rates {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  font-family: sans-serif;
  gap: 8px;
  font-size: 17px;
  background-color: aquamarine;
  border-radius: 8px;
  padding: 5px 10px; 
  margin: 0;
}
.line {
  width: 45%;
  text-align: right;
  border-top: 1px solid blue;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  font-family: "Arial";
  font-size: medium;
  gap: 20px;
}
#cancelbutton {
  width: 70px;
  color: white;
  background-color: red;
  border-color: red;
  border-radius: 6px;
  padding: 6px;
}
#submitbutton, #printbutton{
  width: 70px;
  background-color: blue;
  color: white;
  border-color: blue;
  border-radius: 6px;
  padding: 6px;
}
.printform{
  display: none;
}
table {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  margin-top: 10px;
  border-collapse: collapse;
}
th, td{
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid black;
}
tr{
  height: 14px;
  border-collapse: collapse;
}
#outputtable th:nth-child(1) {
  border-right: none;
}
#outputtable td:nth-child(1) {
  border-right: none;
}
#outputtable td:nth-child(2) {
  text-align: right;
  border-left: none;
}
#outputtable td:nth-child(3) {
  text-align: left;
}
#summarytable td:nth-child(1) {
  border-right:none;
}
#summarytable td:nth-child(2) {
  text-align: right;
  border-left: none;
}
#summarytable td:nth-child(3) {
  text-align: left;
}
#summarytable th:nth-child(1){
  width: 4%;
  border-right: none;
}
#summarytable th:nth-child(2){
  width: 11%;
  border-left: none;
}
#summarytable th:nth-child(3){
  width: 22%;
}
#summarytable th:nth-child(4){
  width: 20%;
}
#summarytable th:nth-child(5){
  width: 20%;
}
#summarytable th:nth-child(6){
  width: 20%;
}
#ratetable{
  font-size: x-small;
  font-style: italic;
  color: gray;
  width: fit-content;
}
#meetingtable th:nth-child(1) {
  width: 5%;
}
#supervisors {
  display: none;
}

