html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #188f20;
  font-family: "Merriweather", sans-serif;
  min-height: 100vh;
  font-size: 1.2rem;
}
.title {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 6px 15px 6px;
}
.footer {
  margin-top: auto;
  margin-bottom: 10px;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
}
.gridcontainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(9, 1fr) 1fr;
  column-gap: 8px;
  row-gap: 10px;
  margin: 6px;
}
.lcol {
  text-align: end;
}
.rcol {
  text-align: left;
}
.flexdiv {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  min-height: 30px;
  gap: 4px;
}
.flexrow {
  display: flex;
  align-items: left;
  justify-content: space-between;
  margin-bottom: 8px;
}
input {
  text-align: center;
  min-width: 25px;
  max-width: 70px;
  font-size: smaller;
  min-height: 14px;
}
select {
  font-size: medium;
  padding:2px;
}
.rates {
  display:flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  font-family: sans-serif;
  gap: 8px;
  border-radius: 8px;
  padding: 5px 10px; 
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  margin-top: 12px;
  font-weight: bold;
  gap: 20px;
  font-family: Arial, sans-serif;
}
.singlebutton {
  min-width: 40px;
  border-radius: 6px;
  padding: 6px;
  color: white;
  background-color: blue;
  border-color: blue;
  font-size: large;
}
#cancelbutton {
  background-color: red;
  border-color: red;
}
table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td{
  padding: 8px;
  border-collapse: collapse;
  border: 1px solid black;
}
tr{
  height: 14px;
  border-collapse: collapse;
}
.reviewform {
  background-color: white;
  min-width: 8in;
  padding: 10px;
  font-size: 12px;
}
.printform {
  background-color: white;
  display: none;
  font-size: 12px;
}
#outputtable{
  background-color: lightgray;
}
#outputtable th:nth-child(1) {
  border-right: none;
}
#outputtable td:nth-child(1) {
  border-right: none;
}
#outputtable td:nth-child(2) {
  text-align: right;
  border-left: none;
}
#outputtable td:nth-child(3) {
  text-align: left;
}
#summarytable {
  break-inside: avoid;
}
#summarytable td:nth-child(1) {
  border-right:none;
}
#summarytable td:nth-child(2) {
  text-align: right;
  border-left: none;
}
#summarytable td:nth-child(3) {
  text-align: left;
}
#summarytable th:nth-child(1){
  width: 4%;
  border-right: none;
}
#summarytable th:nth-child(2){
  width: 11%;
  border-left: none;
}
#summarytable th:nth-child(3){
  width: 20%;
}
#summarytable th:nth-child(4){
  width: 18%;
}
#summarytable th:nth-child(5){
  width: 18%;
}
#summarytable th:nth-child(6){
  width: 18%;
}
#reftables {
  display: flex;
}
#ratetable, #salarytable{
  font-size: x-small;
  font-style: italic;
  color: gray;
  width: fit-content;
  margin-top: 8px;
  break-inside: avoid;
}
#supervisors {
  display: none;
}
ul {
  list-style-type: none;
  padding-left: 0px;
}
ul li {
  padding-top: 8px;
  padding-bottom: 10px;
}
.threecols {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 12px;
}
.threecols tr {
  max-height: 16px;
}
.threecols th:nth-child(1) {
  width: 15%;
  text-align: left;
}
.threecols th:nth-child(2) {
  text-align: left;
  width: 75%;
}
.threecols th:nth-child(3) {
  text-align: right;
  width: 10%;
}
.threecols td:nth-child(1) {
  text-align: left;
}
.threecols td:nth-child(2) {
  text-align: left;
}
.threecols td:nth-child(3) {
  text-align: right;
}
.totalrow td:nth-child(1){
  border-right: none;
}
.totalrow td:nth-child(2){
  border-left: none;
  text-align: right;
}
.totalrow td:nth-child(3){
  text-align: right;
}
.twocols {
  font-size: 12px;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: left;
}
.twocols th:nth-child(1) {
  width: 15%;
}
.twocols th:nth-child(2) {
  width: 85%;
}



